
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    /* background-color: ;
 */
  --bg-primary-color: rgb(18, 17, 17);
  /* text rimary color */
  --text-primary-color: rgb(215, 209, 209);
  /* spacing variable */
  --space-xs:4px;
  --space-sm:8px;
  --space-md:16px;
  --space-lg:24px;
  --space-xl:32px;
  --space-2xl:40px;
  --space-3xl:48px;
  /* border color */
  --border-primary--color: rgb(53, 52, 52);
  /* border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main,section{
    width: 100%;
    height: 100%;


}
section{
    padding: var(--space-2xl);
    display: flex;
    
    flex-direction: column;
   height: 100%;
   background-color: blue;
}
section .infos{
    width:100% ;
    display: flex;
    justify-content:  space-between;
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary--color);
    border-radius:var(--border-radius-sm);



}
.board{
    border: 1px solid var(--bg-primary-color);
    /* its occupy a whole parent div */
    flex-grow: 1;      
    
}